In [1]:
#import pandas and check the version
import pandas as pd
print(pd.__version__)

1.3.4

In [2]:
#create a series from a list, numpy array and dict
import numpy as np
l = [1,2,3,4,5,6]
arr = np.arange(6)
d = {"a":1,"b":2,"c":3,"d":4,"e":5,"f":6}

ser_1 = pd.Series(l)
ser_2 = pd.Series(arr)
ser_3 = pd.Series(d)

print(ser_1)
print("==========================================")
print(ser_2)
print("==========================================")
print(ser_3)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
==========================================
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
==========================================
a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [6]:
#convert the index of a series into a column of a dataframe
s = pd.Series(['C', 'C++', 'Java', 'Python', 'Perl', 'Ruby','Julia']) 
print(s)
print("\n=====================================\n")
df = s.to_frame()
print(df)
print("\n=====================================\n")
df = s.to_frame().reset_index()
print(df)

0         C
1       C++
2      Java
3    Python
4      Perl
5      Ruby
6     Julia
dtype: object

=====================================

        0
0       C
1     C++
2    Java
3  Python
4    Perl
5    Ruby
6   Julia

=====================================

   index       0
0      0       C
1      1     C++
2      2    Java
3      3  Python
4      4    Perl
5      5    Ruby
6      6   Julia

In [8]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [11]:
#combine many series to form a dataframe
s = pd.Series(['C', 'C++', 'Java', 'Python', 'Perl', 'Ruby','Julia']) 
d = {"a":1,"b":2,"c":3,"d":4,"e":5,"f":6}
ser_3 = pd.Series(d)
print(s)
print("\n=====================================\n")
print(ser_3)
print("\n=====================================\n")
print("=====================================\n")

df = pd.concat([s, ser_3])
print(df)
print("\n=====================================\n")

df2 = pd.concat([s, ser_3],axis = 0)
print(df2)
print("\n=====================================\n")

df3 = pd.concat([s, ser_3], axis = 1)
print(df3)
print("\n=====================================\n")

0         C
1       C++
2      Java
3    Python
4      Perl
5      Ruby
6     Julia
dtype: object

=====================================

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

=====================================

=====================================

0         C
1       C++
2      Java
3    Python
4      Perl
5      Ruby
6     Julia
a         1
b         2
c         3
d         4
e         5
f         6
dtype: object

=====================================

0         C
1       C++
2      Java
3    Python
4      Perl
5      Ruby
6     Julia
a         1
b         2
c         3
d         4
e         5
f         6
dtype: object

=====================================

        0    1
0       C  NaN
1     C++  NaN
2    Java  NaN
3  Python  NaN
4    Perl  NaN
5    Ruby  NaN
6   Julia  NaN
a     NaN  1.0
b     NaN  2.0
c     NaN  3.0
d     NaN  4.0
e     NaN  5.0
f     NaN  6.0

=====================================

In [19]:
#get the items of series A not present in series B
ser_A = pd.Series([1, 2, 3, 4, 5])
ser_B = pd.Series([4, 5, 6, 7, 8])

print(ser_A.isin(ser_B))

ser_bool = ser_A.isin(ser_B)

ser_A[~ser_bool]

0    False
1    False
2    False
3     True
4     True
dtype: bool

0    1
1    2
2    3
dtype: int64

In [26]:
#get the items not common to both series A and series B
ser_bool_1 = ser_A.isin(ser_B)
ser_bool_2 = ser_B.isin(ser_A)

ser_C =  pd.concat([ser_A, ser_B])
ser_bool_3 =  pd.concat([ser_bool_1, ser_bool_2])


print(ser_bool_1)
print(ser_bool_2)
print(ser_C)

print(ser_C[~ser_bool_3])

0    False
1    False
2    False
3     True
4     True
dtype: bool
0     True
1     True
2    False
3    False
4    False
dtype: bool
0    1
1    2
2    3
3    4
4    5
0    4
1    5
2    6
3    7
4    8
dtype: int64
0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [28]:
#get the minimum, 25th percentile, median, 75th, and max of a numeric series
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))


np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])